<div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 right-0 z-50">
    <div class="flex-1">
      <a href="" class="btn btn-ghost text-xl">Jaruvit Jongchueaklang</a>
    </div>
    <div class="flex-none">
      <div role="tablist" class="tabs tabs-bordered">
        <a role="tab" class="tab " href="#about">About</a>
        <a role="tab" class="tab" href="#project">Project</a>
        <a role="tab" class="tab" href="#skills">Skills</a>
        <a role="tab" class="tab" href="#contract">Contract</a>
      </div>
    </div>
  </div>
